<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="">
        <table border="1" >
            <tr>
                <td>#</td>
                <td>Feedback</td>
                <td>User</td>
            </tr>
            
                {% for i in view %}
            <tr>
            
                <td>{{forloop.counter}}</td>
                <td>{{i.Feedback_content}}</td>
                <td>{{i.}}</td>
            </tr>
                {% endfor %}
        </table>
    </form>
</body>
</html>